body {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  background-color: #f0f2f5;
  color: #333;
  border: 5px solid #979997;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2.5em;
}

h2 {
  margin-top: 30px;
  color: #4caf50;
  font-size: 2em;
}

.table-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  transition: background-color 0.3s ease;
}

th {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}

td:hover {
  background-color: #e0f7fa;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 30px;
  width: 875px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #e0f7fa;
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

button:active {
  background-color: #388e3c;
  transform: translateY(0);
}
